.col-md-12
	.divfold50
		.col-md-3
			= link_to "All females", females_path, class: "button"
		.col-md-3
			= link_to "Kenyan females", kenyan_females_path, class: "button"
		.col-md-3
			= link_to "Non-Kenyan females", non_kenyan_females_path, class: "button"
		.col-md-3
			= link_to "Males", males_path, class: "button"