.col-md-12
	.divfold50
		.col-md-3
			= link_to "All males", males_path, class: "button"
		.col-md-3
			= link_to "Kenyan males", kenyan_males_path, class: "button"
		.col-md-3
			= link_to "Non-Kenyan males", non_kenyan_males_path, class: "button"
		.col-md-3
			= link_to "Females", females_path, class: "button"