!!! 5
%html
%head

%body
	.divfold50
		Established in 2013, Double Dimensions (herein Double Dimensions) is a Technology
		company that offers end-to-end solutions to clients through the provision of hardware, software
		and associated services like internet presence print solutions as well as CCTV security solutions.  
		We regard Technology as an enabler of business to be used in endowing organizations to work
		efficiently. Our main focus is Small and Medium Sized Enterprises (SMEs) and our service
		offering embraces the notion of adding value to SMEs in all business process using our custom
		technology hardware and software solutions.  
		We are lowering the barrier of doing business by redirecting costs from heavy hardware and
		software expenditures to, investing into affordable services and cloud computing solutions ,that
		are empowering business into efficiency and exponential growth.  
		Double Dimensions enables organizations to improve head count as a result of increasing
		workload without significantly altering any part of their business. Output and volume of
		business is ultimately on a rise with positive impacts on company profitability as well as peace
		of mind knowing their ICT, e.g. of security requirements are implemented using the current
		technologies on their core business.  
		For enterprises with systems that are working, we play the mundane and yet pivotal role of
		assisting them realize the full potential out of these systems and more so for maximum benefit.
	.divfold50 
		%h2 Our Vision 
		To provide fast response, informed expertise, and consistently high quality solutions.
 
	.divfold50 
		%h2 Our Mission  
		To enable our clients have a self-regenerating sustainable business while providing a secure
		environment for business.

	.divfold50 
		%h2 Our Slogan 
		"we strive to deliver..."
