!!! 5
%html
%head

%body
	%nav.navbar.navbar-inverse
		.divfold50
			%h1 BUSINESS CONTINUITY MANAGEMENT 

			Double Dimensions offers solutions for the continuation of technology infrastructure critical to
			an enterprise after a natural or manmade disaster. Our recovery focuses on the continuity of
			technology systems that support business functions.  
			Our disaster recovery service is premised on the fact that IT systems have become increasingly
			critical towards smooth running of a company and therefore THE RAPID RECOVERY OF THESE
			SYSTEMS CANNOT BE OVERSTRESSED SINCE most businesses cannot continue functioning
			after the loss of IT infrastructure and data.  
			Our recovery mechanisms include preventive measures, detective strategies to flag undesirable
			events and corrective measures always after an undesirable event has occurred. Our solutions
			range from simple device adoptions like surge protectors for delicate electronic equipment,
			uninterruptible power supply, backup generators and antivirus software ,to more complex
			strategies like backups in off-site locations at regular intervals, continuous data replications and
			as effective as electing an outsourced disaster recovery protocol involving a standby site and
			systems.  
