!!! 5
%html
%head

%body
	%nav.navbar.navbar-inverse
		.divfold50
			%h1 CLOUD COMPUTING 
			
			Double Dimensions is introducing software with storage system that is distributed, run and
			virtualized in mainframes often referred to as cloud environments, to distribute computing
			applications and solutions used by businesses. Enterprises, whether established and prosperous
			or still at the set up stage , need to adopt this strategy in which Double Dimensions provides
			infrastructure as a service to access computing resources that are suited to customers’ needs
			and can be deployed on demand with minimum fuss.  

			Resources activities organization profit coordination motivate concepts policies 

