!!! 5
%html
%head

%body
	.divfold50
		Corporate social responsibility (CSR) is a business approach that contributes to sustainable development by delivering economic, social and environmental benefits for all stakeholders.

		%p 

		At Double dimensions we integrate and take seriously social and environmental concerns into our business and in our interactions.