!!! 5
%html
%head

%body
	%nav.navbar.navbar-inverse
		.divfold50
			%h1 PARTNERSHIPS
						
			Double Dimensions has forged strategic partnerships with key players in the industry to
			provide: 
			Microsoft: we are resellers of Microsoft software like Microsoft Windows operating systems,
			Microsoft Office, SQL and Vision for large file storage solutions.  
			HP, Dell, etc supply us with branded desktop personal computers and laptops, printers and
			other consumables for servicing all our hardware needs.  
