!!! 5
%html
%head

%body
	%nav.navbar.navbar-inverse
		.divfold50
			%h1 PROJECT MANAGEMENT  
 
			Computer Hardware, Software Installation & Configuration, 
			Network security Maintenance and Remote Support, 
			Double Dimensions undertakes planning and leading projects; executing, monitoring and
			controlling implementation. Our quality assurance analysts form the backbone of these services
			continuously raising industry standards with exemplary successful projects. Our latest project
			has been overseeing the successful implementation of a fully automated advertisement
			bookmarking and publishing service in the classifieds using mobile phones without any human
			intervention. 
