<p> Hello <%= @userfirstname %>, </p>


<p> Kenyan Love welcomes you. %>. </p>
<br> 
It is with good faith that we are hoping that
<br>
you will find the kind of person you are looking for here.
</p>


<p> your details:</p> 
<br>
User id: <%= @userid %>
<br>
User name: <%= @username %>
<br>


<p> <%= link_to 'Click here to start browsing people',users_url %> </p>