.row
	.divfold52a
		- @products.each do |product|
			.col-md-3
				.fireplace2products
					= link_to (image_tag product.product_img.url(:small))
					%h3= link_to product.title, product
					%hr
					from prices:
					%em
						= product.price
		
.divfold50a
	= will_paginate @products
